In [1]:
text1 = "I have learned strings" # surrounded with double quotes
print(text1)

I have learned strings

In [4]:
e_mail = 'joseph@clarusway.com' # surrounded with single quotes
print(e_mail)

joseph@clarusway.com

In [5]:
print('632') # this is also a string type

632

In [6]:
tv_open = True # it seems TV is on now

In [7]:
is_rainy = False # I love sunny weather

In [10]:
example1 = 'sometimes what you say is less importat than how you say it'
print(type(example1))

<class 'str'>

In [11]:
example2 = '71'
print(type(example2))

<class 'str'>

In [12]:
example3 = 71
print(type(example3))

<class 'int'>

In [13]:
example4 = 71.0
print(type(example4))

<class 'float'>

In [14]:
example41 = 71,0
print(type(example41))

<class 'tuple'>

In [15]:
example5 = 3.14j
print(type(example5))

<class 'complex'>

In [16]:
example6 = True
print(type(example6))

<class 'bool'>

In [17]:
example61 = true
print(type(example61))

NameError: name 'true' is not defined

In [18]:
example62 = TRUE
print(type(example62))

NameError: name 'TRUE' is not defined

In [19]:
f = 3.14 # thr type is float
print(type(f))

<class 'float'>

In [ ]:
f = 3.14 # thr type is float

s = str(f) # converting float to string
print(type(s))

<class 'str'>

In [21]:
f = 3.14 # thr type is float

i = int(f) # while converting a float value to an integer its decimal part is disregarded
print(i, "\n")
print(type(i))

3

<class 'int'>

In [22]:
i = 3

f = float(i)
print(f,"\n")
print(type(f))

3.0

<class 'float'>

In [23]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

int() ‚Äì converts some data types into integer type.float() ‚Äì converts some data types into float type.str() ‚Äì converts any data type into string type

In [24]:
color = 'red' # str type variable
season = 'summer'
price = 250 # int type variable
pi = 3.14 # float type variable
color = 'blur' # You can always assigne a new value to a created variable
price = 100 # value of 'price' is changed
season = 'winter'

print(color, price, season, sep=", ")

blur, 100, winter

In [25]:
a = 5
b = 55
c = 555
c = a
b = c
a = b

print(a, b, c, sep=', ')

5, 5, 5

In [26]:
a = 2
a = "a"
print(a)

a

input() method always takes String even when you write a number

you can not add a numbber into a string

In [27]:
x = 4
y = '32'
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
x = 4
y = '32'
print(y+x)

TypeError: can only concatenate str (not "int") to str

In [32]:
x = 3
y = 2.1
print(x-y)
print(y-x)
print(float(x)-y)
print(y-float(x))
print(x-int(y))
print(int(y)-x)

0.8999999999999999
-0.8999999999999999
0.8999999999999999
-0.8999999999999999
1
-1

In [34]:
print(7//2) # it gives integer part of division

3

In [36]:
print(9%2) # reminder of this division is 1
# it means 0 is an odd number

1

In [37]:
print(2**3)
print(64**0.5) # square root

8
8.0

In [39]:
print('Result of this (12+7) sum : ', 12 + 7)

Result of this (12+7) sum :  19

There is a list of priorities for all considered operations: it is worth keeping this priority in your mind.

1. parentheses : ()
2. power : **
3. unary minus : -3
4. multiplication and division : *, /
5. addition and subtraction : +, -

When using print() we can write more than one expression in parentheses separated by üëâüèª,

In [40]:
print("yesterday I ate", 2, "apples")

yesterday I ate 2 apples

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

In [42]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you", end=' ')
print('to my mother')

i will say 'i missed you to my mother

In [43]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

smoking + is + slowly + killing me

Remember. There is no difference between üëâüèª' ', üëâüèª" " or üëâüèª""" """.

\n : means new line,
\t : means tab mark,
\b : means backspace. It moves the cursor one character to the left.

Here are the operators in order of their priorities:
1. not
2. and
3. or

The following values are considered False, in that they evaluate to False when applied to a boolean operator:

None.

Zero of any numeric type: 0, 0.0, 0j

Empty sequences and collections: '', [], {}.

Other than above values, any remaining value is evaluated as True.